@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;500;600;700;800&family=Lato:wght@300;400;700&family=Open+Sans:wght@300;400&family=Staatliches&family=Titillium+Web:wght@300;400;600;700&display=swap");

/* Utilities */
/* text color */
.text-primary {
  color: #f03e3e;
  font-weight: bold;
  font-size: 48px;
}
.text-secondary {
  color: #0284d0;
}
/* Button */
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 10px 30px;
  color: #fff;
  background-color: #f03e3e;
  bottom: none;
  border-radius: 5px;
}
.btn:hover {
  opacity: 0.9;
}
.btn-primary,
.bg-primary {
  background: #f03e3e;
  color: #fff;
}
.btn-secondary,
.bg-secondary {
  background: #0284d0;
  color: #fff;
}
.btn-dark,
.bg-dark {
  background: #333;
  color: #fff;
}
.btn-light,
.bg-light {
  background: #f4f4f4;
  color: #333;
}

.btn-outline {
  background: transparent;
  border: 1px solid white;
}
/* Flex items */
.flex-items {
  display: flex;
  text-align: center;
  justify-content: center;
  gap: 50px;
  height: 100%;
}
.flex-items > div {
  padding: 20px;
}

/* flex items */
.flex-columns.flex-reverse .row {
  flex-direction: row-reverse;
}
.flex-columns .row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.flex-columns .column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  flex: 1;
}
.flex-columns .column .column-1,
.flex-columns .column .column-2 {
  height: 100%;
}
.flex-columns img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.flex-columns .column-2 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 30px;
}

.flex-columns h2 {
  font-size: 40px;
  font-weight: 100;
}

.flex-columns h4 {
  margin-bottom: 10px;
}

.flex-columns p {
  margin: 20px 0;
}

/* Section header */
.section-header {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.section-header h2 {
  font-size: 40px;
  margin: 20px 0;
}

.section-padding {
  padding: 20px 20px 40px;
}
.flex-grid .row {
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}

.flex-grid .column {
  flex: 25%;
  max-width: 25%;
  padding: 0 4px;
}

/* Settings */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
body {
  font-family: "Dosis", sans-serif;
  background: #fff;
  color: #333;
  line-height: 1.6;
}
ul {
  list-style: none;
}
a {
  color: #333;
  text-decoration: none;
}
h1,
h2 {
  font-weight: 300;
  line-height: 1.2;
}
p {
  margin: 10px 0;
}
img {
  width: 100%;
}

/* Navbar */
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  color: #fff;
  opacity: 0.8;
  width: 100%;
  height: 70px;
  position: fixed;
  top: 0;
  padding: 0 30px;
  transition: 0.5s;
}

.navbar.top {
  background: #ffffff;
  z-index: 100;
}

.navbar a {
  color: #ff6b6b;
  padding: 10px 20px;
  margin: 0 5px;
}
.navbar a:hover {
  border-bottom: #ffffff 2px solid;
}
.navbar ul {
  display: flex;
}
.navbar .logo {
  font-weight: 400;
  color: #000000;
  font-size: 16px;
}

/* Header */
.hero {
  background: url("../img/home/showcase.jpg") no-repeat center center/cover;
  height: 100vh;
  position: relative;
  color: #fff;
}
.hero .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  height: 100%;
  padding: 0 20px;
}
.hero .content h1 {
  font-size: 55px;
  margin-top: 300px;
}
.hero .content p {
  font-size: 23px;
  max-width: 600px;
  margin: 20px 0 30px;
}

.hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.105);
}
.hero * {
  z-index: 10;
}
.hero.blog {
  background: url("../img/home/blog.jpg") no-repeat center center/cover;
  height: 30vh;
}
/* Icons */
.icons {
  padding: 30px;
}
.icons h3 {
  font-weight: bold;
  margin-bottom: 15px;
}
.icons i {
  background: #28a745;
  color: #fff;
  padding: 1rem;
  border-radius: 50%;
  margin-bottom: 15px;
}

.cases img:hover {
  opacity: 0.7;
}
/* slide
 */

.team img {
  border-radius: 50%;
}

/* Callback */
.callback-form {
  width: 100%;
  padding: 20px 0;
}

.callback-form label {
  display: block;
  margin-bottom: 5px;
}

.callback-form .form-control {
  margin-bottom: 15px;
}

.callback-form input {
  width: 100%;
  padding: 4px;
  height: 40px;
  border: #f5f5f5 1px solid;
}

.callback-form input:focus {
  outline-color: #28a745;
}

.callback-form .btn {
  padding: 12px 0;
  margin-top: 20px;
}
/* Post */
.post {
  padding: 50px 30px;
}

.post h2 {
  font-size: 40px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: #ccc solid 1px;
}

.post .meta {
  margin-bottom: 30px;
}

.post img {
  width: 300px;
  border-radius: 20%;
  display: block;
  margin: 0 auto 30px;
}

/* Count Dpwn */

.count-container {
  padding-top: 50px;
  background: #ffd54f;
  color: #333;
  margin: 0 auto;
  text-align: center;
}

#count-headline {
  font-weight: normal;
  letter-spacing: 0.125rem;
  text-transform: uppercase;
}

#count-countdown li {
  display: inline-block;
  font-size: 1.5em;
  list-style-type: none;
  padding: 1em;
  text-transform: uppercase;
}

#count-countdown li span {
  display: block;
  font-size: 4.5rem;
}

.emoji {
  display: none;
  padding: 1rem;
}

.emoji span {
  font-size: 4rem;
  padding: 0 0.5rem;
}
/* footer */
.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  text-align: center;
  padding: 0 20px;
  height: 200px;
  gap: 30px;
}

.footer a {
  color: #fff;
}

.footer a:hover {
  color: #28a745;
}

.footer .social > * {
  margin-right: 30px;
}

/* Mobile */
@media (max-width: 1000px) {
  .carousel_img {
    width: 100%;
  }
  .carousel {
    margin: auto;
    height: 100%;
  }
  .event-location-text {
    padding-bottom: 0px;
  }
  .containerc {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .grid-3-cols {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .chair {
    margin-bottom: 40px;
  }
}
@media (max-width: 820px) {
  .carousel_img {
    width: 100%;
  }
  .carousel {
    margin: auto;
    height: 100%;
  }
  .event-location-text {
    padding-bottom: 0px;
  }
  .containerc {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .grid-3-cols {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .chair {
    margin-bottom: 40px;
  }
}
@media (max-width: 760px) {
  .navbar {
    flex-direction: column;
    height: 120px;
    padding: 20px;
  }

  .navbar a {
    padding: 10px 10px;
    margin: 0 3px;
  }
  .containerc {
    width: 360px;
    margin: 0 auto;
    margin-bottom: 50px;
  }
  .grid-3-cols {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .chair {
    margin-bottom: 40px;
  }
  .flex-items {
    flex-direction: column;
  }

  .flex-columns .column,
  .flex-grid .column {
    flex: 100%;
    max-width: 100%;
  }
  .event-location-text {
    padding-bottom: 0px;
  }
  .team img {
    width: 70%;
    border-radius: 50%;
  }
  .carousel_img {
    width: 100%;
  }
  .carousel {
    margin: auto;
    height: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    padding: 20px 20px;
    height: 300px;
  }
  .footer .social a:last-child {
    margin-right: 0px;
  }
}
